#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    gap: 70px;

    & li {
        text-align: center;
        border-radius: 30px;
        width: 100%;
        height: auto;
        padding: 15px;
        transition: box-shadow 200ms linear, transform 100ms linear;
    }

    & p {
        color: white;
        text-align: justify;
        margin: 15px;
    }

    & img {
        width: 150px;
        height: 150px;
        border-radius: 30px;
        margin-bottom: 15px;
    }

    & .button {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: fit-content;
    }
}

/* Efeito de borda neon e destaque ao passar o mouse */
#projects li:hover {
    transform: scale(1.1);
    border: 3px solid #3aff00;
    box-shadow: 0 0 8px #3aff00, 0 0 20px #3aff00, 0 0 30px #3aff00;
}

/* Responsividade */
@media (max-width: 500px) {
    #projects {
        flex-direction: column;
        justify-content: center;
    }
}